.string-png{background-image: url('foobar.png');}
.string-gif{background-image: url('foobar.gif');}
.jpeg{background-image: url(foobar.jpeg);}
.jpg{background-image: url(foobar.jpg);}
.hyphen{background-image: url(foo-bar.png);}
.underscore{background-image: url(foo_bar.png);}
.white-space{background-image: url("foo bar.png");}
.path{background-image: url(media/img/foo.bar-lorem_ipsum.png);}